<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD//EN" "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration xmlns="http://www.hibernate.org/xsd/hibernate-configuration" xsi:schemaLocation="http://www.hibernate.org/xsd/hibernate-configuration hibernate-configuration-4.0.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
	<session-factory>
		<property name="hbm2ddl.auto">update</property>
		<property name="dialect">org.hibernate.dialect.PostgreSQLDialect</property>
		<!-- В случай на липса на връзка, смени базата данни -->
		<property name="connection.url">jdbc:postgresql://localhost:5432/viber2</property>
		<property name="connection.username">avy</property>
		<property name="connection.password">uncommon</property>
		<property name="connection.driver_class">org.postgresql.Driver</property>
		<mapping class="org.avy.viber2.Database.Users"></mapping>
	</session-factory>
</hibernate-configuration>