<?xml version="1.1" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration SYSTEM "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
	<session-factory>
		<property name="hbm2ddl.auto">update</property>
		<property name="dialect">org.hibernate.dialect.PostgreSQLDialect</property>
		<!-- В случай на липса на връзка, смени адреса на PostgreSQL \/ --това тук е адреса-->
		<property name="connection.url">jdbc:postgresql:template1:@192.168.0.15:5432</property>
		<property name="connection.username">viber2</property>
		<property name="connection.password">uncommon</property>
		<property name="connection.driver_class">org.postgresql.Driver</property>
		<mapping resource="Login.hbm.xml" />
	</session-factory>
</hibernate-configuration>
